<a href="https://colab.research.google.com/github/anjanarajuu/DATA-SCIENCE/blob/main/panda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
data = {'Name':['Tom', 'nick', 'krish', 'jack'],'Age':[20, 21, 19, 18]}
df = pd.DataFrame(data)
print(df)
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
        'Age':[27, 24, 22, 32],
        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']}
df = pd.DataFrame(data)
print(df[['Name', 'Qualification']])
data = pd.read_csv("/content/EMPL.CSV")
data.info()

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18
     Name Qualification
0     Jai           Msc
1  Princi            MA
2  Gaurav           MCA
3    Anuj           Phd
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   NO             2 non-null      float64
 1   EMPLOYEE_ID    2 non-null      float64
 2   NAME           3 non-null      object
 3   EMAIL          3 non-null      object
 4   PHONE NUMBER   3 non-null      int64
 5   HIRE_DATE      3 non-null      object
 6   DESIGNATION    3 non-null      object
 7   SALARY         3 non-null      int64
 8   MANAGER_ID     3 non-null      int64
 9   DEPARTMENT_ID  3 non-null      int64
dtypes: float64(2), int64(4), object(4)
memory usage: 372.0+ bytes

In [ ]:
data.head()

,NO,EMPLOYEE_ID,NAME,EMAIL,PHONE NUMBER,HIRE_DATE,DESIGNATION,SALARY,MANAGER_ID,DEPARTMENT_ID
0,1.0,21.0,ANJANA RAJU,anjana@123,8767876567,12-02-1945,MANAGER,65000,3,33
1,2.0,22.0,ALAN GOPAN,alan@45,8765456778,02-06-1987,HR,76500,4,44
2,NaN,NaN,APARNA RAJU,aparna@6676,7886675665,03-05-1934,DESIGNER,56000,5,55